
{% extends 'base.html.twig' %}

{% block title %}Etape index{% endblock %}

{% block body %}<h1>Droits d'auteurs sur les textes et images</h1>
<h2>Droits sur l'Histoire</h2>
{# ajoutez ici#}
<h2>Droits sur les images</h2>
{# ajoutez ici#}
<a href="">Retour à la première page</a>
{% endblock %}
